<html>
    <head>
        <link rel="stylesheet" href="login.css">
    </head>
    <body class="container">
        <a class="button" href="/users">Users</a>
    </body>
    <br></br>
    <body class="container">
        <a class="button" href="/groups">Groups</a>
    </body>
</html>