<html>
    <head>
        <link rel="stylesheet" href="login.css">
    </head>
    <body class="container_success">
        <div class="logged_in_nav">
        <div class="flex">
            <div>
                <img src="workos-logo-with-text.png" alt="workos logo">
            </div>
        </div>
        <div>
            <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                    Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button
                    class='button nav-item blog-nav-button'>Blog</button></a>
            <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
        </div>
    </div>
    <div class='flex'>
        <div class="logged_in_div_left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <h2>Webhooks</h2>
                    <div id="webhooks-view" style="text-align:center">
                        <p>To test using the webhooks validation method, follow the linked tutorial below.</p>
                        <p style="color: gray">Webhooks can be seen live pre and post validation in the php console.</p>
                    </div>
                </div>
                <div id='clear_button_div' class='flex space-evenly directory_container width-40vw'>
                    <div id="tutorial_button">
                        <a href="https://workos.com/blog/test-workos-webhooks-locally-ngrok" target="_blank" class="button login_button">Webhooks Tutorial</a>
                    </div>
                    <div ><a href="javascript:history.back()"><button
                            class='button button-outline'>Back</button></a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>