<html>
    <head>
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_login">
        <div class='flex_column'>
            <div class="flex heading_div">
                <img src="workos_logo_new.png" alt="workos logo">
                <div class="heading_text_div">
                    <h1>WorkOS</h1>
                </div>
            </div>
            
            <h2>PHP Admin Portal Example App</h2>
            <hr style="width:100%">
            <form method="POST" action="/portal">
                <div class='flex_column'>
                    <div class='flex_column'>
                        <div>
                            <input type="text" placeholder='Enter the Organization Name to Provision' id="org" name="org" class="text_input" required>
                        </div>
                        <div>
                            <input type="text" placeholder='Enter a Space Separated List of Domains Used By the Org' id="domain" name="domain" class="text_input_2" required>
                        </div>

                    </div>
                    <p>Please select sso or directory sync</p>
                    <div class="wrapper">
                        <input type="radio" name="intent_selector" id="intent-sso" value="sso" checked>
                        <input type="radio" name="intent_selector" id="intent-dsync" value="dsync">
                          <label for="intent-sso" class="option intent-sso">
                            <div class="dot"></div>
                             <span>SSO</span>
                             </label>
                          <label for="intent-dsync" class="option intent-dsync">
                            <div class="dot"></div>
                             <span>DSync</span>
                          </label>
                       </div>

                    <div>
                        <button type="submit" class="button">Launch Admin Portal Session</button>
                    </div>

                </div>
            </form>

        </div>
    </body>
</html>


